/****** Object:  Table [dbo].[FGCodeMapping$]    Script Date: 28-Mar-22 4:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FGCodeMapping$](
	[NewFGCode] [nvarchar](255) NULL,
	[OldFGCode] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[FGCodeMapping$] ([NewFGCode], [OldFGCode]) VALUES (N'FG-2MME-0001', N'FG-M087-001')
INSERT [dbo].[FGCodeMapping$] ([NewFGCode], [OldFGCode]) VALUES (N'FG-2MME-0002', N'FG-M087-002')
INSERT [dbo].[FGCodeMapping$] ([NewFGCode], [OldFGCode]) VALUES (N'FG-2MME-0003', N'FG-M087-003')
GO

insert into FGCodeMapping$ select 'FG-AHPI-0005',	'FG-AHPI-0005'
insert into FGCodeMapping$ select 'FG-AMPI-0009',	'FG-AMPI-0009'
insert into FGCodeMapping$ select 'FG-BGEX-0001',	'FG-BGEX-0001'
insert into FGCodeMapping$ select 'FG-CLIN-0008',	'FG-CLIN-0008'
insert into FGCodeMapping$ select 'FG-GLAR-0001',	'FG-GLAR-0001'
insert into FGCodeMapping$ select 'FG-GSCP-0014',	'FG-GSCP-0014'
insert into FGCodeMapping$ select 'FG-HART-0222',	'FG-HART-0222'
insert into FGCodeMapping$ select 'FG-HART-0225',	'FG-HART-0225'
insert into FGCodeMapping$ select 'FG-HART-0227',	'FG-HART-0227'
insert into FGCodeMapping$ select 'FG-HART-0231',	'FG-HART-0231'
insert into FGCodeMapping$ select 'FG-HNSG-0005',	'FG-HNSG-0005'
insert into FGCodeMapping$ select 'FG-HNSG-0007',	'FG-HNSG-0007'
insert into FGCodeMapping$ select 'FG-KOLM-0001',	'FG-KOLM-0001'
insert into FGCodeMapping$ select 'FG-KYWA-0006',	'FG-KYWA-0006'
insert into FGCodeMapping$ select 'FG-MCND-0011',	'FG-MCND-0011'
insert into FGCodeMapping$ select 'FG-MDCA-0010',	'FG-MDCA-0010'
insert into FGCodeMapping$ select 'FG-MDCA-0011',	'FG-MDCA-0011'
insert into FGCodeMapping$ select 'FG-MDSV-0004',	'FG-MDSV-0004'
insert into FGCodeMapping$ select 'FG-MEDL-0206',	'FG-MEDL-0206'
insert into FGCodeMapping$ select 'FG-NESA-0002',	'FG-NESA-0002'
insert into FGCodeMapping$ select 'FG-PMEG-0001',	'FG-PMEG-0001'
insert into FGCodeMapping$ select 'FG-PRSE-0001',	'FG-PRSE-0001'
insert into FGCodeMapping$ select 'FG-SAFE-0010',	'FG-SAFE-0010'
insert into FGCodeMapping$ select 'FG-SAFE-0011',	'FG-SAFE-0011'
insert into FGCodeMapping$ select 'FG-SAFE-0012',	'FG-SAFE-0012'
insert into FGCodeMapping$ select 'FG-SAPT-0001',	'FG-SAPT-0001'
insert into FGCodeMapping$ select 'FG-SCKR-0001',	'FG-SCKR-0001'
insert into FGCodeMapping$ select 'FG-SCKR-0002',	'FG-SCKR-0002'
insert into FGCodeMapping$ select 'FG-SHRA-0001',	'FG-SHRA-0001'
insert into FGCodeMapping$ select 'FG-TNCM-0002',	'FG-TNCM-0002'
insert into FGCodeMapping$ select 'FG-UMED-0001',	'FG-UMED-0001'
insert into FGCodeMapping$ select 'FG-UNGL-0006',	'FG-UNGL-0006'
insert into FGCodeMapping$ select 'FG-SHAI-0002',	'FG-SHAI-0002'
insert into FGCodeMapping$ select 'FG-CAMB-0001',	'FG-CAMB-0001'
insert into FGCodeMapping$ select 'FG-PROM-0001',	'FG-PROM-0001'
insert into FGCodeMapping$ select 'FG-SHAI-0001',	'FG-SHAI-0001'
insert into FGCodeMapping$ select 'FG-ATOP-0001',	'FG-ATOP-0001'
go