<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
    <add key="BuildNumber" value="2.2021.1217.1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="Identifier" value="SIT" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
    <!--Server=192.168.12.57;Database=FloorSystemUAT;user Id=sa;password=pass@word1;Connection Timeout=20-->
    <add name="FSDB" connectionString="+gfHJFcw3myvOn01QxBOeJffHJsMXWFVu0nGXEwZvbON9tVkMAfOzYHjRXOWLodn/IrctlN41yn4xrUUaL//wsU5KMwhJgm7kdGLaSZW5QgDyxwGWDRu47WQvndZIdJqLreiRNXIaWA=" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
	</connectionStrings>
</configuration>