<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BuildNumber" value="1.2022.0428.0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Identifier" value="Production" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <!--Server=192.168.12.78;Database=FloorSystem;user Id=sa;password=SQL@Harta1ega;Connection Timeout=20-->
    <!--<add name="FSDB" connectionString="+gfHJFcw3myvOn01QxBOeJffHJsMXWFVu0nGXEwZvbON9tVkMAfOzePD6a+PyAnDKbSpE+VVb3vpXkQhttetaF2vxrUiomvaAE5woKwWdlVifD7GCCA9BkAF4Kuz57/o" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>-->
	  <add name="FSDB" connectionString="FUOClXOA/Y+/CnuBll+py1EASOwU5ur1y+1ix0+puRkXC/cTW4N0EIL7i4S2aLrXRUnIxRRHgN0xdCXL0yMy2ja80e1Q3AAce42swMLfRkjRcGRi7amRGxzgV9NdPC2K" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>