<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BuildNumber" value="1.2.1205.0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Identifier" value="QA" xdt:Transform="Replace" xdt:Locator="Match(key)" /></appSettings>
  <connectionStrings>
    <add name="FSDB" connectionString="Add Test DB Connection String" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>