<?xml version="1.0"?>
<configuration>
   <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections> 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup> 
  <connectionStrings>
    <add name="FSDB" connectionString="lAyz/iSTMqBIli07VmaVXqq1GOUPMU2S8DzC0BqpwtuTkAzNJcje3kWj0HuoDseciEMw7xw6tLuuOuxRQs5scbze9Uk3o9QOh1/NXq/NrlLWWb0QBNx4b8Xfh5FglMkRKGb9l/pR69Q=" providerName="System.Data.SqlClient" />

    <add name="AXDB" connectionString="OJEJuNc57BCR8kS2+HO761ui2NIGvBkN70zQY4MrPf1OLouQiODmhLtJxlxMGb2zcUB4vGDS/QSe+2ih5Ue+o1kM2cW6TsSSQ5TR/KxhYjHlcsv5w0OISYrxN9tFj1lLiTr3OjSn4jaP7axpPdAI1h7hniIAKAZC" providerName="System.Data.SqlClient"  />
    <add name="Hartalega.FloorSystem.WorkOrderSync.Properties.Settings.ConnectionString"
      connectionString="Data Source=.;Integrated Security=True" />
  </connectionStrings> 
  <dataConfiguration defaultDatabase="FSDB"/>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Database Trace Listener" type="Hartalega.FloorSystem.Framework.DbExceptionLog.DatabaseExceptionTraceListener, Hartalega.FloorSystem.Framework" listenerDataType="Hartalega.FloorSystem.Framework.DbExceptionLog.DatabaseExceptionLog, Hartalega.FloorSystem.Framework" databaseInstanceName="FSDB" writeLogStoredProcName="usp_WriteLog" addCategoryStoredProcName="usp_Save_ExceptionCategory" formatter="Text Formatter" appName="Floor System"/>
      <add name="Event Log Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xD;&#xA;Message: {message}{newline}&#xD;&#xA;Category: {category}{newline}&#xD;&#xA;Priority: {priority}{newline}&#xD;&#xA;EventId: {eventid}{newline}&#xD;&#xA;Severity: {severity}{newline}&#xD;&#xA;Title:{title}{newline}&#xD;&#xA;Machine: {localMachine}{newline}&#xD;&#xA;App Domain: {localAppDomain}{newline}&#xD;&#xA;ProcessId: {localProcessId}{newline}&#xD;&#xA;Process Name: {localProcessName}{newline}&#xD;&#xA;Thread Name: {threadName}{newline}&#xD;&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"












                                                             name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="FS">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Hartalega.FloorSystem.Framework.DbExceptionLog.CustomExceptionLoggingHandler, Hartalega.FloorSystem.Framework" logCategory="General" eventId="100" severity="Error" title="Floor System Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling> 

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="All"/>    <!-- OFF | All -->-->
      <file value="logs\log_%date{yyyyMMdd}.txt" type="log4net.Util.PatternString"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="'.'yyyyMMdd'.log.txt'"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %m%n"/>
        <!--<conversionPattern value="%date %-5level - %message%newline" />-->
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n"/>
        <!--<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />-->
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
</configuration>
