<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FSDB" connectionString="CkC9tVLdz/qwnFH9k2Emd7igCjkW9Wrg8DzC0BqpwtuTkAzNJcje3n6C5adJqGscd+lMj1qv/akjVvQKjoF6OtECkuc0omxnyR10WJ5+EW1K8enCJ2YOia8oQXW3GKvzSjTTh5ScR5A=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PQISite" value="http://ngc-fs1.hartalega.local/QAIMonitoringSystem.aspx"/>
    <add key="PQIMonthlySite" value=""/>
    <add key="ProductionDefectSite" value=""/>
    <add key="CosmeticDefectSite" value=""/>
    <add key="TenPcsWeightSite" value=""/>
    <add key="OutputPath" value="C:\PQI\IMAGES\"/>
    <add key="RetryCount" value="3"/>
    <add key="CompanyName" value="Hartalega NGC Sdn Bhd"/>
    
    <!-- Header Validation Messages based on Report Name : Start-->
    <add key="PQISiteValidationMessage" value="QAI Monitoring System"/>
    <add key="PQIMonthlySiteValidationMessage" value="QAI Monitoring System Monthly"/>
    <add key="ProductionDefectSiteValidationMessage" value="Production Defect Analysis System"/>
    <add key="CosmeticDefectSiteValidationMessage" value="Cosmetic Defect Analysis System"/>
    <add key="TenPcsWeightSiteValidationMessage" value="Production TenPcs Weight Analysis System"/>
    <!-- Header Validation Messages : End-->
    <!-- Default FileName : Start-->
    <add key="PQISiteFileName" value="PQI"/>
    <add key="PQIMonthlySiteFileName" value="PQIMONTHLY"/>    <!-- Example: 54201801 Line54 at Jan 2018 -->
    <add key="ProductionDefectSiteFileName" value="DEFECT_P"/>
    <add key="CosmeticDefectSiteFileName" value="COSMETIC_P"/>
    <add key="TenPcsWeightSiteFileName" value="TENPCS_P"/>
    <!-- Header Validation Messages : End-->
    <add key ="MonthlyGenFlag" value="false"/> <!-- value: true/false-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
